/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*  */



.jsonCard{
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: 2px solid #48294875;
  border-radius: 15px;
  margin-top: 5px;
  background-color: white;
}


p{
  margin: revert;
  margin-bottom: 1rem;
}

.btnhover:hover{
  background-color: rgb(226, 226, 226);

}
.from_border{
  /* background-image: url("./img/cglogo.png"); */
  border-radius: 10px;
  box-shadow: 12px 15px 20px 9px #acc;
}
.signup{
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}
.head-col{
  box-shadow: inset 0px 0px 30px #37bbe0;
}
.table-head{
  background-color: #c1e4ec;
  height: 40px;
}
.scroll{
  max-height: 150px;
  overflow-y: scroll;
}

.close{
  display: flex;
    justify-content: right;
}
.popup{
  position: absolute;
  width: 50%;
}

.loading{
  height: 50%;
  /* backdrop-filter: blur(10px); */
}

.hide_scroll{
  width: 18rem;
  overflow-x: auto;
  scrollbar-width: none; 
}



.dropdown-menu{
  --bs-dropdown-link-hover-bg: rgb(127, 183, 235) !important;
}

/* #drop{
  width:215px
} */

a {
  color: black;
}

.table{
  --bs-table-bg:#ffffff00 !important;
}




